mixin menu(data)
    // Надо было через nav делать.
    .menu
        .menu__item
            a.menu__link.menu__link_active.link(href="#") Cводка
        .menu__item
            a.menu__link.link(href="#") Устройство
        .menu__item
            a.menu__link.link(href="#") Сценарии

    .menu__icon

