.menu {
    grid-area: "menu";
    align-items: center;
    display: flex;
    justify-content: space-between;
      
    .menu__item {
      font-size: 1rem;
      opacity: 0.6;
      line-height: 20px;
      font-weight: 600;
      margin: 10px;
    }

    .menu__item_active {
      opacity: 1;

      .menu__link {
        color: $black;
      }
    }
    
    @media screen and (max-width: 375px) {
      flex-direction: column;
      position: fixed;
      right: 0px;
      padding: 10px;
      background: white;
      border-radius: 20px;
      margin-top: 40px;
      
      height: 0;
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s, opacity 0.5s linear;
      align-self: flex-end;
      align-items: end;
    }
    
  }
  
  .menu__icon {
    @include bg($icon-list-m-png);
    display: none;
    cursor: pointer;
    grid-area: 'menu_icon';

    @media screen and (max-width: 375px) {
      display: initial;
      grid-column: 4;
    }
  }
  
  .menu_show {
    visibility: visible;
    opacity: 1;
    height: auto;
  }
  
  
