mixin menu(data)
    nav.menu
        .menu__item.menu__item_active
            a.menu__link.link(href="#") События
        .menu__item
            a.menu__link.link(href="#") Cводка
        .menu__item
            a.menu__link.link(href="#") Устройство
        .menu__item
            a.menu__link.link(href="#") Сценарии

    .menu__icon

