doctype html
html(class="no-js", lang="ru")
    include ../components/head/head.pug
    include ../components/header/header.pug
    include ../components/events/events.pug
    include ../components/main/main.pug
    include ../components/footer/footer.pug
    
    head
        +head(head.defaults)
        script(src='https://code.jquery.com/pep/0.4.3/pep.js')
    body.page
        |%=symbols=%

        +header()

        +main(events.events)

        +footer()

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')