// Common styles of the project

html, body {
    height: 100%;
    font-size: 16px;
    color: $black;

    @media screen and (max-width: $break-point_mb) {
        font-size: 10px;
    }

    @media screen and (min-width: $break-point_mb) and (max-width: $break-point_tb) {
        font-size: 10px;
    }

    // 2k display
    @media screen and (min-width: $break-point_d) {
        font-size: 20px;
    }
}

.page {
    min-height: 100%;
}

.page__wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}

* html .page__wrapper {
    min-height: 100%;
}

.page__buffer {
    height: 50px;
}

