// Common styles of the project

html, body {
  height: 100%;
  font-size: 16px;
}

.page {
  display: flex;
  flex-direction: column;
}

.page__wrapper {
  min-height: 100%;
  margin-bottom: -50px;
}

* html .page__wrapper {
  height: 100%;
}

.page__buffer {
  height: 50px;
}

*{
  font-family: Arial;
  font-weight: bold;
  color: $black;
}

a{
  text-decoration: none;
  color:$gray;
}