mixin footer(data)
    footer.footer
        .footer-left
            .footer__item
                a.link(href="#") Помощь
            .footer__item
                a.link(href="#") Обратная связь
            .footer__item
                a.link(href="#") Разработчикам
            .footer__item
                a.link(href="#") Условия использования
            .footer__item
                a.link(href="license.pdf") Лицензия

        .footer-right
            .footer__item © 2001–2017  ООО «Яндекс»