.header{
  display: flex;
  align-items: center;
  height: 92px;
  border-bottom: 1px solid #F0F0F0;
  padding-left: 40px;

  @media screen and (max-width: 375px) {
    height: auto;
    padding: 12px 0;
    border: none;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
  }

}
