mixin addition__thermal(data)
    .addition__thermal&attributes(attributes)
            .addition__thermal__temperature
                .addition__thermal__title Температура: 
                .addition__thermal__value  #{data.temperature} С
            .addition__thermal__humidity
                .addition__thermal__title Влажность:
                .addition__thermal__value   #{data.humidity}%