// File for scss-vars.
// For example: main colors, paddings and so on.

$black: #333333;
$gray:  #858585;
$white: #FFFFFF;
$card-backround-color: #FAFAFA;
$warning-color: #DB5341;
$bg-yellow: #FFD93E;
$bg-gray: #E5E5E5;

// Breakpoints
$break-point_mb: 676px;
$break-point_tb: 850px;
$break-point_br: 992px;
$break-point_lp: 1200px;
$break-point_d:  1440px;
$break-point_2d: 1880px;
