mixin addition__stats(data)
    //.addition__stats&attributes(attributes)
    .addition__stats
        img(src="__static__img/assets/card__addition/addition__stats/Richdata.png" alt="").img_responsive.img_br20